
:root { /* Ghibli color palette http://designmadeinjapan.com/magazine/graphic-design/the-rich-colors-of-studio-ghibli/ */
  --windrisesblue:#0096c3;
  --windrisesgreen: #16a13a;
}
* {
    box-sizing: border-box
  }
  html {
    font-family: 'Mukta Mahee', sans-serif;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background: var(--windrisesblue);
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: #fff;
  }
  p {
    padding: 0 2.5rem 2.5rem;
    margin: 0;
  }
  .movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .moviedetail {
    margin: 1rem;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    transition: all .2s linear;
    cursor: pointer;
    line-height: 1.5rem;
    color: #333;
  }
  .moviedetail:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translateY(-2px);
  }